<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - SB Admin</title>
  <link rel="stylesheet" href="../static/admin.css" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
    crossorigin="anonymous"></script>
  <style>
    #img {

      width: 100%;
      height: 100%;
      background-image: url('../static/img/3.jpg');
    }

    h1 {
      color: azure;
    }

    .dashed {
      border-width: 5px;
      border-color: rgb(91, 245, 2);
      border-style: dashed;
    }
    .col{
      padding-top: 1rem;
    }
  </style>
</head>

<body class="sb-nav-fixed">
  <%- include components/admin %>
  <div id="layoutSidenav_content">
    <main id="img" class="demo">
      <div class="container-fluid">
        <h1 class="mt-4">Thể loại</h1>
        <div class="container">


          <div class="row">
            <div class="col">
              <input type="text" name="name" class="" placeholder="Phim...">
              <button type="submit" class="btn btn-outline-primary">Add new</button>
            </div>
            <div class="col">
              <select id="cars">
                <option value="volvo">Phim Bom Tấn</option>
                <option value="saab">Thời sự Trong ngày</option>
                <option value="vw">Tin Mới</option>
                <option value="audi" selected>Đồ gia dụng</option>
              </select>
            </div>
            <div class="col">
              <input type="text" name="name" class="">
              <button type="submit" class="btn btn-outline-primary">Add new</button>
            </div>
          </div>
        
        
          <div class="row">
            <div class="col">
              <select id="cars">
                <option >Phim Bom Tấn</option>
                <option >Thời sự Trong ngày</option>
                <option >Tin Mới</option>
                <option  selected>Đồ gia dụng</option>
              </select>
              <button type="submit" class="btn btn-outline-success">update</button>
              <button type="submit" class="btn btn-outline-danger">delete</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select id="cars">
                <option >Phim Bom Tấn</option>
                <option >Thời sự Trong ngày</option>
                <option >Tin Mới</option>
                <option  selected>Đồ gia dụng</option>
              </select>
              <button type="submit" class="btn btn-outline-success">update</button>
              <button type="submit" class="btn btn-outline-danger">delete</button>
            </div>
          </div>

        </div>

      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2019</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="assets/demo/chart-area-demo.js"></script>
  <script src="assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="assets/demo/datatables-demo.js"></script>
</body>

</html>